/* em - Relative means depend on parent
1em - 16px default browser style
1em = base value */
/* relative depends on browser style if browser
uses very large font size than according to it changes */
div{
    /* font-size: 16px; */
    /* font-size: 20px; */
    font-size: 10px;
}
.relative{
    font-size: 2em;
    /* medium - 2*16px
    very large - 2*20px */
    /* 2*16=32px */
    /* 2*20=40px */
    /* 2*10=20px */
}
.absolute{
    font-size:32px;
}